@font-face {
    font-family: 'MiFuente';
    src: url('/front/font/Mazda-Type-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
        font-family: 'MiFuente';
        src: url('/front/font/Mazda-Type-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'MiFuente';
        src: url('/front/font/Mazda-Type-Italic.woff') format('woff');
        font-weight: normal;
        font-style: italic;
    }
    body {
      background-color: #231f20;
      font-family: 'MiFuente', sans-serif;
    }
    .form-container {
      background-color: #3f3b3c;
    }
    .input-field {
      background-color: #231f20;
      border-color: #3f3b3c;
    }
    .input-field:focus {
      border-color: #3f3b3c;
    }
    .button {
      background-color: #2563eb;
      color: white;
    }
    .button:hover {
      background-color: #231f20;
    }